# Created by .ignore support plugin (hsz.mobi)
.idea/Graphix.iml
.idea/inspectionProfiles/
.idea/modules.xml
.idea/workspace.xml
Would skip repository pkg/dep/sources/https---go.googlesource.com-image
Would skip repository pkg/dep/sources/https---github.com-go--gl-glfw
Would skip repository pkg/dep/sources/https---github.com-go--gl-mathgl
Would skip repository pkg/dep/sources/https---github.com-go--gl-gl
pkg/darwin_amd64
src/dotcookie.me/vendor/
